.career-container {
  margin: 20px auto 0;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  max-width: 90%; 
  box-sizing: border-box; 
}

.career-item {
  margin-bottom: 15px;
}

.career-year {
  font-weight: bold;
  margin-right: 10px;
}

.career-title {
  color: #555;
}


@media (max-width: 600px) {
  .career-container {
    padding: 15px;
    max-width: 100%; 
  }

  .career-item {
    margin-bottom: 10px; 
  }

  .career-year {
    font-size: 14px;
  }

  .career-title {
    font-size: 16px; 
  }
}
